# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# output dir
output
instant_test_output
inference_test_output


*.pth
*.pth.tar
*.jpg
*.png
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

# project dirs
/detectron2/model_zoo/configs
/datasets
/projects/*/datasets
/models
